[Desktop Entry]
Type=Application
Name=2fip
GenericName=File Manager
Comment=Dual-pane file manager in the style of Total Commander
Exec=2fip
Icon=io.github.gonzaloism.TwoFip
Terminal=false
StartupNotify=true
StartupWMClass=io.github.gonzaloism.TwoFip
Categories=System;FileTools;FileManager;
Keywords=files;folders;file manager;commander;dual pane;2fip;2 file panel;pa2;
