[Desktop Entry]
Type=Application
Name=pa2
GenericName=File Manager
Comment=Dual-pane file manager in the style of Total Commander
Exec=pa2
Icon=io.github.gonzaloism.pa2
Terminal=false
StartupNotify=true
StartupWMClass=io.github.gonzaloism.pa2
Categories=System;FileTools;FileManager;
Keywords=files;folders;file manager;commander;dual pane;pa2;
